In [36]:
import pandas as  pd
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings("ignore")

In [39]:
df=pd.read_csv("income.csv")

In [42]:
df.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [43]:
x=df.iloc[:,0:-1]
y=df.iloc[:,-1]

In [44]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [45]:
AdaModel=AdaBoostClassifier(n_estimators=100,learning_rate=1)

In [47]:
model=AdaModel.fit(xtrain,ytrain)
y_pred=model.predict(xtest)

In [49]:
print("accuracy:",metrics.accuracy_score(ytest,y_pred))

accuracy: 0.8383662606203296

In [50]:
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()

adabc=AdaBoostClassifier(n_estimators=50,base_estimator=logmodel,learning_rate=1)

In [51]:
model=adabc.fit(xtrain ,ytrain)